        <section>
            <form action="/salas/disponibles" method="POST" id="SalasForm"> 
                {% csrf_token %}
                <input type="hidden" value="{{zona}}" name="zona"/>
            <div class="bl-busqueda col-md-12">
                <div class="bl-busqueda-interna col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Fecha: </label>
                            <div class='input-group date' data-provide="datepicker" id='fechainicio'>
                                <input required type='date' name="fecha" class="form-control" value="{{fecha}}" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Hora inicio: </label>
                            <div class='input-group date' data-provide="datepicker" id='horainicio'>
                                <input required type='time' name="hora_inicio" class="form-control" value="{{hora_inicio}}" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Hora Fin: </label>
                            <div class='input-group date' data-provide="datepicker" id='horafin'>
                                <input required type='time' name="hora_fin" class="form-control" value="{{hora_fin}}" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                         <div class="col-md-3" style="float:right;">
                            <div style="margin-top:15px;">
                                <!-- Button trigger modal -->
                                <button type="submit" style="background-color:#800a1b;border-color:#800a1b;" id="btnSumit"  
                                class="btn btn-primary btn-lg btn-block" data-loading-text="Cargando ..." autocomplete="off" data-toggle="modal" id="myModal">
                                  Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                        <!-- /.col-md-4 -->
                    <!-- /.row -->
                </div>
            </div>
            </form>
        </section>