{% load staticfiles %} 
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/logoUNACEM.jpg' %}" alt="" width="" height="50px">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                 
                    <li><a href="/salas/reservadas">Mis Reservas</a>  </li>    
                    <li><a href="/salas">Reservar</a>  </li>    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user">
                      </span>               
                      {{ request.session.vendedor.Nombre | upper }} {{ request.session.vendedor.Apellido | upper }}
                      </a>
                    </li>
                    <li><a href="/logout">Cerrar sesion</a>  </li>    
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>