{%load staticfiles %}
<html>
<head>
	<title>Login unacem</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/estructura.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">

</head>
<body>

<div class="container">
  
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    
    <div class="col-md-4">
      <section class="login-form">
        <form method="POST" action="/login" role="login">
          {% csrf_token %}
          <img src="{% static 'img/logoUNACEM.jpg' %}" class="img-responsive" alt="" />
          <input type="text" name="username" placeholder="DNI" required class="form-control input-lg" value="" />
          
          <input type="password" name="password" class="form-control input-lg" id="password" placeholder="Password" required="" />
          
          
          <div class="pwstrength_viewport_progress">
            {{ mensaje }}
          </div>
          
          
          <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>
        </form>
        
        <div class="form-links">
          <a href="#">www.unacem.com</a>
        </div>
      </section>  
      </div>
      
      <div class="col-md-4"></div>      

  </div>

<script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/handlebars-v4.0.5.js' %}"></script>

</body>
</html>