{% load staticfiles %}
            <div class="bl-busqueda col-md-12">
                <!-- Heading Row -->
                {% if salas %}
                {% for salon in salas %}
                <div class="row" style="margin-bottom:10px;">
                    <div class="col-md-7">
                        <img class="img-responsive img-rounded" src="{% static 'img/sala01.jpg' %}" alt="">
                    </div>
                    <!-- /.col-md-8 -->
                    <div class="bl-descripcion col-md-5" style="border-top:solid 1px #000;">
                        <span class="etiqueta-sala label label-info pull-right">Disponible</span>
                        <h1>{{salon.Nombre}}</h1>
                        <p class="texto">
                        <br/>
                        <label>Capacidad:</label> {{salon.Capacidad}} 
                        <br/>
                        <label>Dirección:</label>
                        {{salon.Direccion}},{{salon.Distrito}}
                        </p>
                        <button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#Modal{{salon.Id}}">
                          Reservar
                        </button>


                <!-- Modal -->
                <div class="modal fade" id="Modal{{salon.Id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Reserva de Sala {{salon.Nombre}}</h4>
                      </div>
                      <div class="modal-body">
                        <form method="POST" action="/salas/reservar">
                             {% csrf_token %}
                            <input hidden type="text" value="{{salon.Id}}" name="salon">
                            <input hidden type="text" value="{{salon.Nombre}}" name="salon_descripcion">
                            <input hidden type="date" value="{{fecha}}" name="fecha">
                            <input hidden type="time" value="{{hora_inicio}}" name="hora_inicio">
                            <input hidden type="time" value="{{hora_fin}}" name="hora_fin">
                            <p><strong>Fecha:</strong>{{fecha}}</p>
                            <p><strong>Horario:</strong>{{hora_inicio}}-{{hora_fin}}</p>
                            <p> <strong>Catering:</strong>
                                <div class="checkbox">
                                <label>
                                  <input name="catering" type="checkbox" value="Cafes"> Cafés |
                                </label>
                                <label>
                                  <input name="catering" type="checkbox" value="Snacks"> Snacks |
                                </label>
                                <label>
                                  <input name="catering" type="checkbox" value="Gaseosas"> Gaseosa |
                                </label>
                                <label>
                                  <input name="catering" type="checkbox" value="Sandwitches"> Sandwithes
                                </label>
                              </div>
                            </p>
                            <button class="btn btn-lg btn-info submit" type="submit"> Confirmar reserva</button>    
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>     

                    </div>
                    <!-- /.col-md-4 -->
                </div>
                {% endfor %}
                {% else %}
                <div class="row"> 
                    No se encontraron salas disponibles 
                </div>
                {% endif %}
            </div>