{% extends 'layout/default.html' %}

{% block body %}
	<h2>Mis salas reservadas </h2>
	{% if reservas %}
	<table class="table table-bordered table-responsive">
		<thead>
			<tr>
				<th>Salon</th>
				<th>Fecha</th>
				<th>Horario</th>
				<th>Catering-ticket</th>
				<th>Catering-confirmado</th>
			</tr>
		</thead>
		<tbody>
			{% for r in reservas %}
			<tr>
				<td>{{r.sala_descripcion}}</td>
				<td>{{r.fecha|date:"l, d M Y"}}</td>
				<td>{{r.hora_inicio|date:"h:m A"}} - {{r.hora_fin|date:"h:m A"}}</td>
				<td> {% if r.catering %} {{r.catering}} {% else %} No solicitado {% endif %}</td>
				<td> {% if r.catering %} 
					{{r.catering_confirmado|yesno:"Confirmado,Pendiente"}}
					{% else %}
					-
					{% endif %}
				</td>
			</tr>
			{% endfor%}
		</tbody>
	</table>
	{% else %}
	<div class="alert alert-warning">
		No se encontraron reservas, inténtelo mas tarde.
	</div>
	{% endif %}

{% endblock %}
