{% extends "layout/default.html" %}
{% load staticfiles %}

{% block body %}

        
{% include 'components/form_salas.html' %}

<div id="resultado" class="col-md-12 text-center"></div>

{% endblock %}

{% block js %}
<script type="text/javascript">
$(function(){
	console.log("Inicio");
	//$('.datepicker').datepicker();

	console.log("Formulario cargado");

	$("form#SalasForm").submit(function(e){
		console.log("summited");
		e.preventDefault();
		// desabilitamos el boton
		$("#btnSumit").attr("disabled","disabled");
		showPreLoader("Buscando ...");
		// Realizamos llamada asincrona
		$.ajax({
			type: $(this).attr('method'),
			url: $(this).attr('action'),
			data: $(this).serialize(),
			context: this,
			success: function(data, status){
				$("#resultado").html(data)	
			},
			error: function(xhr, textStatus, throwError){
				console.log(xhr);
				console.log(textStatus);
				console.log(throwError);
				ShowError(xhr.status, textStatus, throwError)
			},
			complete: function(){
				console.log("ajax completed");
				$("#btnSumit").removeAttr("disabled");
			}
		});
	});


	/*
	** HELPERS
	*/
	function showPreLoader(mensaje){
		//notaHtml = " <div id='iniciarEspera'>cargando ...</div>";
		notaHtml = '<img src="{% static 'img/loader.gif' %}">'+ "</br>"+ mensaje;
		$("#resultado").html(notaHtml);
	}	

});
</script>
{% endblock %}