{%load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://www.unacem.com.pe/wp-content/themes/cementoslima/favicon.ico">
    <title>Sistema de Reserva | UNACEM</title>

    <!-- Bootstrap Core CSS -->
    <link rel=stylesheet type=text/css href="{% static 'css/bootstrap.min.css' %}">
    <!-- Custom CSS -->
    <link rel=stylesheet type=text/css href="{% static 'css/estructura.css' %}"> 

</head>
<body>

{% include "components/header.html" %}

<div class="container">
  {% block body %}{% endblock %}
</div>

{% include "components/footer.html" %}
<script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment-with-locales.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
{% block js %} {% endblock %}

</body>
</html>